/* Definição de estilos para o dashboard */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    margin-bottom: 5vh;
    background-color: #c6c6c6;
    border-bottom: 2px solid #000;
}

.flex-center {
    display: flex;
    /* flex-direction: row-reverse; */
    align-content: center;
    justify-content: space-between;
    padding: 20px;
}

li > a {
    text-decoration: none;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

input {
    width: 80%;
    font-size: 1.5rem;
}

.btn {
    border: 1px solid #0000ff;
    border-radius: 10px;
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
}




.btn:hover {
    font-weight: 700;
}

.btn:active {
    background-color: #ffffcc;
    color: #000;
    border: 0;
    font-weight: 900;
}
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}