@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

:root {
    --first-color-light: blue;
    --first-color-dark: black;
    --sombra: #4f4c4c;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid black;
}


ul {
    list-style-type: none;
}

.main {

    display: flex;
    position: relative;
    width: 100%;
    top: 10vh;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #c1c1c1;
}

.menu-item {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #c1c1c1;
    align-items: center;
}

li > a {
    /* Comentários */
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    background-color: var(--sombra);
}

.search > input {
    width: 90%;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
}

.search > input:focus {
    background-color: #ededed;
    border: 0px;
    outline: 1px solid #0000ff;
}

.search > button {
    width: 10%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #0000ff;
    color: #fff;
}

.content {

    border: 1px solid black;
    width: 100%;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
