label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #c6c6c6;
    border: 1px solid green;
    border-radius: 15px;
}

form > div {
    padding: 20px;
    border: 1px solid #d4d4d4;
}