html {
  margin: 30px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 10px;
}

label {
  font-family: arial;
  font-size: 14pt;
}

.controle {
  padding: 20px;
  border: 1px solid #e5e5e5;











}
