/* Seletor - tag */
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Seletor - classe */
p.destaque {
    background-color: #F4E7E1;
    font-weight: bold;
}


/* Classe genérica */
.alerta {
    background-color: red;
}

input {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
}

input:focus {
    background-color: #C4E1E6;
    border: 0px;
    outline: 2px solid #8DBCC7;
}

a:hover{
    font-weight: bold;
}

header + div {
    font-size: 1.5rem;
}

header > div {
    background-color: blue;
}

p::first-line {
    text-transform: uppercase;
}