/* Seletor: geral */
a {
  color: white;
  background-color: blue;
  padding: 10px;
  text-decoration: none;
}


/* Link -> ainda não foi acessado */
a:link{
  text-decoration: underline;
  color: yellow;
}

/* Link -> já foi acessado */
a:visited {
  text-decoration: underline;
  background-color: #a9a9a9;
}

/* Cursor sobre o link */
a:hover{
  background-color: red;
}

/* Link -> momento do click */
a:active {
  background-color: green;
  color: black;









  
}
