/* Estilos para tabelas */

table {
  width: 100%;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

th {
  font-size: 14pt;
  font-family: tahoma;
}

.destaque {

  font-size: 18pt;
  color: blue;
  background-color: #c6c6c6;
  text-align: center;

}

tbody tr:hover {
  background-color: #d6f2a7;
}
 thead tr:hover{
   background-color: red;



 }

 tfoot tr:hover {
   background-color: #ffd6b5;
   font-weight: bold;
   text-align: center;
 }

 tr:nth-child(even){
    background-color: #c6c6c6;









 }
