table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

tbody tr:hover {
  background-color: #c6c6c6;
}

tfoot tr:hover {
  background-color: #00BFFF;
}

thead tr:hover {
  background-color: #6495ED;
}

tr:nth-child(even) {
  background-color: red;
}
