@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

:root {
    --sombra: #c4c4c4;
}

.button {
    
    text-decoration: none;
    border: 1px solid #c6c6c6;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    
}

.button:hover {
    font-weight: bold;
}

.button-master {
    background-color: blue;
    border: 1px solid blue;
}

.button-danger {
    background-color: red;
    border: 1px solid red;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3rem;
}

table {
    width: 100%;
}

tbody > tr:nth-child(odd) {
    background-color: #c6c6c6;
}

thead > tr {
    background-color: #89a8b2;
}

tfoot > tr {
    background-color: aliceblue;
}

tbody > tr:hover {
    background-color: darkgray;
}

tbody > tr > td:nth-child(2):hover {
    background-color: aqua;
}

#start {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row-reverse; */

    padding: 20px;
    margin: 10px;
}

h1 {
    text-transform: uppercase;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.form-input > label {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-input > input {
    font-size: 1.5rem;
    border-radius: 10px;
}

.form-input > input:focus {
    border: 0px;
    outline: 1px solid #0000ff;
    background-color: var(--sombra);
}

